.wrapper {
    max-width: 46rem;
    margin: -1.6875rem auto 2rem auto;
    padding: 0 1rem;
}

.creteTaskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.creteTaskForm input {
    padding: 1rem;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    outline: transparent;
    width: 100%;
}

.creteTaskForm input:focus {
    border: 1px solid var(--purple-dark);
}

.creteTaskForm button[type='submit'] {
    padding: 1rem;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.creteTaskForm button[type='submit']:not(:disabled):hover {
    background-color: var(--blue);
    transition: background-color 0.2s;
}

.creteTaskForm button[type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.tasksList {
    margin-top: 4rem;
}

.tasksList .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.createdTasks {
    color: var(--blue);
    font-weight: 700;
    font-size: 0.875rem;
}

.createdTasksText {
    margin-right: 0.5rem;
}

.badge {
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

.doneTasks {
    color: var(--purple);
    font-weight: 700;
    font-size: 0.875rem;
}

.doneTasksText {
    margin-right: 0.5rem;
}

.emptyTasks {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
    border-top: 1px solid var(--gray-400);
}

.emptyTasks svg {
    margin-bottom: 1rem;
}

.emptyTasksTitle {
    font-weight: 700;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}